WebsiteRegressionProduction/WebsiteRegressionProduction/Service References/ServiceReference1/ClaimImportService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClaimImportService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://services.apexedi.com/ClaimImportService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://services.apexedi.com/ClaimImportService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://services.apexedi.com/ClaimImportService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ImportClaimService.DataContracts" />
      <xsd:import schemaLocation="http://services.apexedi.com/ClaimImportService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Apex.ClaimServices.Contracts" />
      <xsd:import schemaLocation="http://services.apexedi.com/ClaimImportService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClaimImportService_ImportClaim_InputMessage">
    <wsdl:part name="parameters" element="tns:ImportClaim" />
  </wsdl:message>
  <wsdl:message name="IClaimImportService_ImportClaim_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImportClaimResponse" />
  </wsdl:message>
  <wsdl:message name="IClaimImportService_DeleteClaim_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteClaim" />
  </wsdl:message>
  <wsdl:message name="IClaimImportService_DeleteClaim_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteClaimResponse" />
  </wsdl:message>
  <wsdl:message name="IClaimImportService_GetMedicalValidationMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMedicalValidationMessages" />
  </wsdl:message>
  <wsdl:message name="IClaimImportService_GetMedicalValidationMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMedicalValidationMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="IClaimImportService_GetMultipleMedicalValidationMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMultipleMedicalValidationMessages" />
  </wsdl:message>
  <wsdl:message name="IClaimImportService_GetMultipleMedicalValidationMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMultipleMedicalValidationMessagesResponse" />
  </wsdl:message>
  <wsdl:portType name="IClaimImportService">
    <wsdl:operation name="ImportClaim">
      <wsdl:input wsaw:Action="http://tempuri.org/IClaimImportService/ImportClaim" message="tns:IClaimImportService_ImportClaim_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClaimImportService/ImportClaimResponse" message="tns:IClaimImportService_ImportClaim_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteClaim">
      <wsdl:input wsaw:Action="http://tempuri.org/IClaimImportService/DeleteClaim" message="tns:IClaimImportService_DeleteClaim_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClaimImportService/DeleteClaimResponse" message="tns:IClaimImportService_DeleteClaim_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMedicalValidationMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/IClaimImportService/GetMedicalValidationMessages" message="tns:IClaimImportService_GetMedicalValidationMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClaimImportService/GetMedicalValidationMessagesResponse" message="tns:IClaimImportService_GetMedicalValidationMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMultipleMedicalValidationMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/IClaimImportService/GetMultipleMedicalValidationMessages" message="tns:IClaimImportService_GetMultipleMedicalValidationMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClaimImportService/GetMultipleMedicalValidationMessagesResponse" message="tns:IClaimImportService_GetMultipleMedicalValidationMessages_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClaimImportService" type="tns:IClaimImportService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ImportClaim">
      <soap:operation soapAction="http://tempuri.org/IClaimImportService/ImportClaim" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteClaim">
      <soap:operation soapAction="http://tempuri.org/IClaimImportService/DeleteClaim" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMedicalValidationMessages">
      <soap:operation soapAction="http://tempuri.org/IClaimImportService/GetMedicalValidationMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMultipleMedicalValidationMessages">
      <soap:operation soapAction="http://tempuri.org/IClaimImportService/GetMultipleMedicalValidationMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClaimImportService">
    <wsdl:port name="BasicHttpBinding_IClaimImportService" binding="tns:BasicHttpBinding_IClaimImportService">
      <soap:address location="http://services.apexedi.com/ClaimImportService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>